# Markdown tutorial

1. H1
# This is the H1

2. H2
## This is the H2

3. H3
### This is the H3

4. H4
#### This is the H4

# Chapter 1: Print

In [ ]:
# number
print(1)

1

In [ ]:
# Name
print("Aditi")

Aditi

In [ ]:
Aditi = "My name is Aditi"
print(Aditi)

My name is Aditi

In [ ]:
print(5+4)

9

In [ ]:
aditi = 21
riya = 24
print(aditi+riya)

45

# Chapter 2: Variables, Operands, Operators and Functions

In [ ]:
# "Snow" is a variable
Snow = "He is the best Dog in the world."

In [ ]:
Snow

'He is the best Dog in the world.'

In [ ]:
# Changing Variable
Snow = "Sweety"

In [ ]:
Aditi = 29 + 8 + 2002

In [ ]:
Aditi

2039

In [ ]:
type(Aditi*.5)

float

In [ ]:
type(Snow)

str

# Chapter 3: String Indexing and Slicing

In [ ]:
# My name is Ashu
# My name is riya
# My name is aditi

str1 = "HelloWorld"

In [ ]:
str1[0:5]

'Hello'

In [ ]:
str1[-5:]

'World'

In [ ]:
print(str1)
print(str1[::-1])

HelloWorld
dlroWolleH

# Exercise 1: Print the first name from a string

In [ ]:
s1 = "My name is Ashu"
s2 = "My name is Riya"
s3 = "My name is Aditi"

In [ ]:
# Print only "First Name"
print(s3[11:16])

Aditi

# Chapter 4: String Concatenation and Repetition

In [ ]:
# Concatenation

First = 'Riya'
Last = 'Revdiwala'

print(First +" "+ Last)

Riya Revdiwala

In [ ]:
# Repetition

First = 'Aditi '

print(First*2)

Aditi Aditi

# Chapter 5: Built-in Function

In [ ]:
str1 = 'Riya Revdiwala'
str1

'Riya Revdiwala'

In [ ]:
str1.upper()

'RIYA REVDIWALA'

In [ ]:
str1.lower()

'riya revdiwala'

In [ ]:
str1.title()

'Riya Revdiwala'

# Chapter 6: Numbers

In [ ]:
num1 = 32
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

35
29
96
10.666666666666666
10
2
32768

# Exercise 2: Find the numbers which are not divisible by 7

In [ ]:
nums = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
for i in nums:
  if i%7 !=0:
    print(i)

12
75
150
180
145
50

# Chapter 7: Data Types

In [ ]:
snow = 'Dog'
type(snow)

str

In [ ]:
snow = 9
type(snow)

int

In [ ]:
snow = 9.25
type(snow)

float

In [ ]:
snow = True
type(snow)

bool

In [ ]:
print(type(snow))

<class 'bool'>

# Chapter 8: Data Structures

In [ ]:
# Collection of data types
house = ["Snow", "Riya", "Ashu", "Aditi"]

In [ ]:
type(house)

list

In [ ]:
type(house[0])

str

In [ ]:
# dict --> Key, value pair
age = {"Ashu": 25, "Riya": 24, "Aditi": 22}

In [ ]:
type(age)

dict

In [ ]:
type(age['Aditi'])

int

In [ ]:
# Tuple
t1 = ("Snow", "Riya", "Ashu", "Aditi")

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

'Snow'

In [ ]:
# Set
list1 = [1,2,3,4,6]

In [ ]:
set1 = set(list1)

In [ ]:
list(set1)

[1, 2, 3, 4, 6]

In [ ]:
list1

[1, 2, 3, 4, 6]

In [ ]:
type(set1)

set

# Chapter 9: Python Constructors

In [ ]:
if list1 == list(set1):
  print("same")
else:
  print("not same")

same

In [ ]:
age['Aditi'] = 20

In [ ]:
if age['Aditi'] < 21:
  print('No drink')
elif age['Aditi'] == 21:
  print('Less drink')
else:
  print('More drink')

No drink

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

# Exercise 3: Print odd number from 1 to 9 in reverse order?

In [ ]:
# 9,7,5,3,1
# 9,7,5,3,1
# your code goes here

for i in range(1,10,2):
  print(10-i)

9
7
5
3
1

In [ ]:
l1 = [1,22,342,35,456,236]
for i in l1:
  print(i)

1
22
342
35
456
236

In [ ]:
for i,v in enumerate(l1):
  print(i,v)

0 1
1 22
2 342
3 35
4 456
5 236

In [ ]:
aditi = 0
while aditi < 21:
  print(f"No drinking she is {aditi} years old")
  aditi = aditi + 1
print(f"Now she can drink, she is {aditi} years old")

No drinking she is 0 years old
No drinking she is 1 years old
No drinking she is 2 years old
No drinking she is 3 years old
No drinking she is 4 years old
No drinking she is 5 years old
No drinking she is 6 years old
No drinking she is 7 years old
No drinking she is 8 years old
No drinking she is 9 years old
No drinking she is 10 years old
No drinking she is 11 years old
No drinking she is 12 years old
No drinking she is 13 years old
No drinking she is 14 years old
No drinking she is 15 years old
No drinking she is 16 years old
No drinking she is 17 years old
No drinking she is 18 years old
No drinking she is 19 years old
No drinking she is 20 years old
Now she can drink, she is 21 years old

In [ ]:
hello = ['Hello ' + i for i in house]
print(hello)

['Hello Snow', 'Hello Riya', 'Hello Ashu', 'Hello Aditi']

# Chapter 10: Libraries, Modules and Packages

In [ ]:
import math

In [ ]:
num = 9.459
print(math.ceil(num))
print(math.floor(num))

10
9

In [ ]:
math.log10(num)

0.9758452254675671

In [ ]:
import statistics as s

l1 = [1,1,2,3,4,5]
list(str(float(10*(math.ceil(s.median(l1))))))

['3', '0', '.', '0']

# Exercise 4: Write all the letter of string "United States"

In [ ]:
# ['U','n','i'........]
str1 = "United States"

print(list(str1))

['U', 'n', 'i', 't', 'e', 'd', ' ', 'S', 't', 'a', 't', 'e', 's']